<!--
<%if logged_in?%>
<h1>Hi, <%@user.name%></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
<%else%> -->

<%=link_to 'Sign up', controller:'users', action:'new'%> or <%=link_to "Log in", controller:'sessions',action:'new'%>
#are there paths for log in and sign up? check route file.
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
