<h1>Welcome to the Yoga poses directory!</h1>

<%=link_to 'Sign up', controller:'users', action:'new'%> or <%=link_to "Log in", controller:'sessions',action:'new'%>
to add to the directory.
<br><br>
  Click here to <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<br><br>
<%=link_to 'View Poses', poses_path%>
