<h1><%=@user.username%>'s Poses</h1>

 <button class="load-poses" data-id="<%= @user.id %>">Load Poses</button></br>

<div class="poses">
  <!-- <%@user.poses.each do |pose|%>
  <%binding.pry%>
  <p><%=pose.name%></p> -->
  <!-- <img src=<%="#{pose.image_file_name}"%>> -->
  <!-- let pic= pose["image"]
  $(".poses").append('<img src="'+ pic +'">') -->

</div>
<script>

$(function() {
  $(".load-poses").on("click", function() {
    let userid = $(this).data("id");
    $.get("/users/" + userid + ".json", function(data) {

    let poses= data["poses"];
    let poseDetails=""
    //poses.forEach(function(pose){
poses.forEach((pose)=>{
      let pic= pose["image"]

      $(".poses").append('<img src="'+ pic +'">')
      $(".poses").append("<p>"+ pose["name"] + ' - '+ pose["level"]["level"] + "</p>"+"<br>")
    //  $(".poses").append("<a href=`/poses/${pose["id"]}`>" + pose["name"]+"</a>")


    })
    });
  });
});

</script>
